<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>选课系统登录</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link type="text/css" href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="login">
        <div class="loginDetail">
            <h4>Sign in with existing account</h4>
            <form>
                <div class="inputBlock">
                    <span><img src="{% static 'img/username.png' %}"></span>
                    <input type="text" placeholder="Username"/>
                </div>
                <div class="inputBlock">
                    <span><img src="{% static 'img/password.png' %}"></span>
                    <input type="password" placeholder="Password"/>
                </div>
            </form>
            <div class="submit">Sign in</div>
        </div>
    </div>
<script type="text/javascript" src="{% static 'js/jquery-1.12.2.min.js' %}"></script>
</body>
</html>