*{
    margin: 0;
    padding: 0;
}

body{
    font-family:"Microsoft YaHei";
    background: url("../img/log-bg3.jpg") no-repeat;
    background-size: 100% 100%;
}

.login{
    margin:150px 160px 0 0;
    width: 400px;
    float: right;
}

.loginDetail{
    background: #f5f5f5;
    margin-bottom: 30px;
    padding: 20px;
}

.inputBlock{
    border: 1px solid #d9d9d9;
    background: #ffffff;
    margin-top: 20px;
}

.inputBlock input{
    border: 0;
    float: right;
    font-size:14px;
    padding:5px 5px 5px 5px;
    width: 82%;
}

.inputBlock span{
    display: inline-block;
    border-right: 1px solid #d9d9d9;
    width: 11%;
    height: 16px;
    padding: 5px;
    background: #f0f0f0;
}

.inputBlock img{
    margin-left: 9px;
}

.submit{
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: bold;
    background: #00a6fd;
    border: 0;
    border-radius: 20px;
    width: 65px;
    height: 20px;
    margin-top: 15px;
    margin-left: 260px;
}